@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    background: #DFD9E2;
    font-family: 'Poppins', sans-serif;
    color: hsl(223deg 10% 36%);
}

h1, h2 {
    text-align: center;
    color: hsl(281deg 26% 48%);
}

h1 {
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

h3 {
    color: hsl(281deg 26% 48%);
}

p {
    font-weight: 300;
}

p#introduction {
    font-weight: 500;
}

ul {
    list-style: square;
}

button {
    color: #fff;
    background: hsl(281deg 26% 48%);
    padding: 5px 10px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: #664077;
    background: hsl(281deg 30% 36%);
    transform: translateY(-2px);
}